<!DOCTYPE html>
<html>
  <head>
    <title>Scrooge</title>
    <link rel="icon" type="image/png" href="data:,"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
