{% extends 'master.html' %}

{% block content %}
  <a href="{{ url_for('account.new') }}">Add account</a>
  <table class="accounts">
    <thead>
      <tr>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      {% for account in accounts %}
        <tr>
          <td>{{ account.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
