{% extends 'master.html' %}

{% block content %}
  <form action="{{ url_for('account.create') }}" method="post">
    {{ account.hidden_tag() }}
    {{ account.name.label }}
    {{ account.name }}
    <button>Create</button>
  </form>
{% endblock %}
